/*------------------
 SETUP
 ------------------*/

@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Titillium+Web:wght@200&display=swap");
* {
  margin: 0px;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --text-color: rgb(241, 215, 215);
  --background-color: rgb(30, 37, 48);
  --header-color: rgb(117, 99, 160);
  --content-background: rgb(46, 56, 71);
}

.wrapper {
  background-color: var(--background-color);
  padding: 2rem;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/*-----------------
 HEADER
 -----------------*/
.warmtop {
  color: var(--header-color);
  background-color: var(--background-color);
  padding: 2%;
  text-align: center;
  font-family: Righteous, cursive;
}

h1 {
  font-size: 3rem;
}

nav {
  color: var(--header-color);
  display: block;
  font-family: Titillium Web, sans-serif;
  font-size: 22px;
}

a {
  padding: 0rem 4rem;
  text-decoration: none;
  color: var(--header-color);
}
a:hover {
  background-color: whitesmoke;
}

.oneline {
  height: 1px;
  background-color: lightgray;
}
/* ---------------*/
/* MAIN */
/* ---------------*/
.nicecontent {
  background-color: var(--content-background);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  padding: 10px;
  font-family: Titillium Web, sans-serif;
  text-align: justify;
}
p {
  padding: 2rem;
}

img {
  border-radius: 10%;
}

#quote {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  border-color: rgb(221, 214, 250);
  border-width: 2px;
  border-style: solid;
  background-color: #222024fd;
  box-shadow: 8px 2px 20px blue;
}

.code {
  margin-left: 30%;
  margin-right: 30%;
  background-color: #625b669a;
  font-family: monospace;
  font-size: 16px;
  color: rgb(207, 59, 195);
  text-align: center;
}

.menubutton {
  color: indigo;
  padding: 10px;
  border-style: groove;
  border-color: rgb(150, 131, 194);
  border-width: 5px;
  background-color: rgb(145, 156, 192);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 5px 3px 10px rgb(14, 17, 211);
}

button:hover {
  background-color: rgb(179, 213, 214);
  padding: 1%;
  border-color: rgb(141, 48, 121);
  color: rgb(110, 26, 96);
  box-shadow: 5px 3px 20px rgb(0, 255, 242);
}

table,
td,
th {
  border: 1px solid rgb(107, 114, 129);
  margin-left: 20%;
  margin-right: 20%;
}
