/*------------------
  TAILWIND
  -----------------*/

/*------------------
 SETUP
 ------------------*/
/* 
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

* {
  margin: 0px;
  font-family: "Sen", sans-serif;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(235, 235, 235);
  --background-color: rgb(137, 130, 152);
  --bubble-blue: rgb(147, 203, 255);
  --card-background: rgba(77, 72, 88, 0.8);
}

body {
  background-color: var(--background-color);
  /* height: 100vh; */

/*.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "nav hero"
    "cards hero";
}

/*----------------
  NAV AND LOGO
  --------------*/
/*nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 8rem;
  border: var(--bubble-blue) solid 4px;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.horizontal-line {
  height: 4px;
  width: 20rem;
  background-color: var(--bubble-blue);
  /* border-radius: 90%; */

/*nav > li {
  list-style: none;
  color: var(--text-color);
  font-size: 24px;
  text-align: center;
  padding: 2rem 0.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
}

/*--------------
  INFO CARDS
  -------------*/
/*.card-section {
  grid-area: cards;
  display: flex;
  flex-direction: column;
  /* height: 45vh; */
/*  width: 20rem;
}

.card {
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 1rem;
  color: var(--text-color);
  padding: 1rem;
}

.c-title {
  line-height: 24px;
  font-size: 1.2rem;
  text-align: center;
}

.c-header {
  font-size: 24px;
  text-decoration: underline;
}

/*--------------
  HERO SECTION
  --------------*/
/*.hero {
  grid-area: hero;
  display: flex;
  align-items: center;
  /* padding: 10rem; */

/*.mainbubble {
  display: flex;
  height: 90vh;
  width: 90vh;
  background: linear-gradient(
    244.09deg,
    rgba(147, 203, 255, 0.82) 18.78%,
    rgba(183, 220, 236, 0) 81.22%
  );
  border-radius: 50%;
  /* border: black solid 4px; */

/*.mainbubble > h1 {
  color: var(--text-color);
} */
